.envelope-fly {
  animation: fly 3.5s infinite ease-in-out;
}
@keyframes fly {
  0%, 100% { transform: translateY(0) }
  50% { transform: translateY(-10px) }
}

.animate-glow {
  animation: glowPulse 2s infinite alternate;
}
@keyframes glowPulse {
  0% { filter: drop-shadow(0 0 4px #0FD7B6); }
  100% { filter: drop-shadow(0 0 14px #0FD7B6); }
}
